extends ../layout

block content
    h1 Añadir Nuevo Socio
    
    div.card.mt-4
        div.card-body
            form(action="/socios" method="POST")
                div.mb-3
                    label.form-label Nombre del Socio
                    input.form-control(type="text" name="nombre" minlength="3" title="Debe tener al menos 3 caracteres" required)
                div.mb-3
                    label.form-label Porcentaje de Participación (%)
                    input.form-control(type="number" step="0.01" name="porcentajeParticipacion" min="0.01" required)
                
                button.btn.btn-success(type="submit") Guardar Socio
                a.btn.btn-secondary.ms-2(href="/socios") Cancelar
