extends ../layout

block content
    h1 Editar Empleado
    
    div.card.mt-4
        div.card-body
            form(action=`/empleados/${empleado.id}/editar` method="POST")
                div.mb-3
                    label.form-label Nombre y Apellido
                    input.form-control(type="text" name="nombre" value=empleado.nombre minlength="4" title="Debe tener al menos 4 caracteres" required)
                
                div.mb-3
                    label.form-label Empresa a la que pertenece
                    select.form-select(name="empresaId" required)
                        each empresa in empresas
                            option(value=empresa.id selected=empresa.id===empleado.empresaId)= empresa.nombre
                
                button.btn.btn-primary(type="submit") Actualizar Empleado
                a.btn.btn-secondary.ms-2(href="/empleados") Cancelar
