extends ../layout

block content
    h1 Editar Empresa
    
    div.card.mt-4
        div.card-body
            form(action=`/empresas/${empresa.id}/editar` method="POST")
                div.mb-3
                    label.form-label Nombre de la Empresa
                    input.form-control(type="text" name="nombre" value=empresa.nombre minlength="3" title="Debe tener al menos 3 caracteres" required)
                div.mb-3
                    label.form-label CUIT
                    input.form-control(type="text" name="cuit" value=empresa.cuit minlength="11" title="El CUIT debe tener al menos 11 caracteres" required)
                
                button.btn.btn-primary(type="submit") Actualizar Empresa
                a.btn.btn-secondary.ms-2(href="/empresas") Cancelar
